<div class="card-wrapper">
  <mat-card style="background: rgba(0,0,0,0);" class="guest-card">

    <div class="guest-header">

      <div>

        <h2>
          👥 {{ isEditMode ? 'Update Guest' : 'Add New Guest' }}
        </h2>

        <!-- <p>
          Manage guest details, contact information and family association
        </p> -->

      </div>

    </div>

    <mat-card-content>
      <div class="form-body">


        <!-- Full Name -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Full Name</mat-label>
          <input matInput [(ngModel)]="guest.name" name="guestName" placeholder="Enter full name" required>
        </mat-form-field>

        <!-- Row 1 -->
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput [(ngModel)]="guest.phoneNumber" name="guestPhone" maxlength="10"
            placeholder="Enter 10 digit number" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Whatsapp Number</mat-label>
          <input matInput [(ngModel)]="guest.whatsapp_Number" name="guestWhatsapp" maxlength="10"
            placeholder="Enter 10 digit number">
        </mat-form-field>

        <!-- Row 2 -->
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" [(ngModel)]="guest.email" name="guestEmail" placeholder="example@mail.com">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="guest.guestCategory" name="guestCat">
            <mat-option value="Sagai">Sagai</mat-option>
            <mat-option value="Shadi">Shadi</mat-option>
            <mat-option value="Both">Both</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Row 3 -->
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="guest.gender" name="guestGender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="guest.adultOrchild" name="guestType">
            <mat-option value="Adult">Adult</mat-option>
            <mat-option value="Child">Child</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Row 4 -->
        <mat-form-field appearance="outline">
          <mat-label>Gift</mat-label>
          <mat-select [(ngModel)]="guest.gift" name="gift">
            <mat-option value="Saree">Saree</mat-option>
            <mat-option value="Joda">Joda</mat-option>
            <mat-option value="Comforter">Comforter</mat-option>
            <mat-option value="Cash">Cash</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cash</mat-label>
          <mat-select [(ngModel)]="guest.cash" name="cash">
            <mat-option value="100">100</mat-option>
            <mat-option value="200">200</mat-option>
            <mat-option value="251">251</mat-option>
            <mat-option value="500">500</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Row 5 -->
        <mat-form-field appearance="outline">
          <mat-label>Stay</mat-label>
          <mat-select [(ngModel)]="guest.stay" name="stay">
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Family Name</mat-label>

          @if (guest.family) {

          <input type="text" matInput [(ngModel)]="guest.family.familyName" name="familySelectionName"
            (input)="filterFamilies()" [matAutocomplete]="autoFamily">

          }

          <mat-autocomplete #autoFamily="matAutocomplete">

            @for (familyItem of filteredFamilies; track familyItem.id || $index) {

            <mat-option [value]="familyItem.familyName">
              {{ familyItem.familyName }}
            </mat-option>

            }

          </mat-autocomplete>

        </mat-form-field>


        <!-- LIVE DATA BINDING VIEW USING JSON PIPE -->
        <!-- <div class="json-viewer">
          <strong>Live JSON Data Binding:</strong>
          <pre>{{ guest | json }}</pre>
        </div> -->

      </div>
    </mat-card-content>

    <mat-card-actions align="end" class="form-actions">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary"
        [disabled]="!guest.name || !guest.gender || !guest.phoneNumber || !guest.guestCategory" (click)="save()">
        Save Guest
      </button>
    </mat-card-actions>

  </mat-card>
</div>
