<div class="tasks-page">

  <section class="task-toolbar">

    <div class="task-toolbar-left">

      <h2>
        Wedding Task Board
      </h2>

      <p>
        Track all wedding activities from planning to completion.
      </p>

    </div>

    <div class="task-toolbar-right">

      <button
        mat-flat-button
        class="add-task-btn"
        (click)="openAddTaskDialog()">

        <mat-icon>
          add
        </mat-icon>

        Add Task

      </button>

    </div>

  </section>

  <div class="task-board">

    <!-- TODO -->

    <div class="task-column todo-column">

      <div class="column-header">

        <span class="column-title">
          To Do
        </span>

        <span class="column-count">
          {{ todoTasks().length }}
        </span>

      </div>

      @for (
        task of todoTasks();
        track task.id
      ) {

      <div class="task-card">

        <div class="task-card-title">

          {{ task.title }}

        </div>

      </div>

      }

    </div>

    <!-- PROGRESS -->

    <div class="task-column progress-column">

      <div class="column-header">

        <span class="column-title">
          In Progress
        </span>

        <span class="column-count">
          {{ inProgressTasks().length }}
        </span>

      </div>

      @for (
        task of inProgressTasks();
        track task.id
      ) {

      <div class="task-card">

        <div class="task-card-title">

          {{ task.title }}

        </div>

      </div>

      }

    </div>

    <!-- DONE -->

    <div class="task-column done-column">

      <div class="column-header">

        <span class="column-title">
          Done
        </span>

        <span class="column-count">
          {{ completedTasks().length }}
        </span>

      </div>

      @for (
        task of completedTasks();
        track task.id
      ) {

      <div class="task-card">

        <div class="task-card-title">

          {{ task.title }}

        </div>

      </div>

      }

    </div>

  </div>

</div>
