<h2 mat-dialog-title>
    Create Guest Account
</h2>

<mat-dialog-content>

    <form [formGroup]="form" class="guest-account-form">

        <mat-form-field appearance="outline">

            <mat-label>
                Name
            </mat-label>

            <input matInput formControlName="name">

            <mat-icon matSuffix>
                person
            </mat-icon>

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>
                Email
            </mat-label>

            <input matInput type="email" formControlName="email">

            <mat-icon matSuffix>
                email
            </mat-icon>

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>
                Password
            </mat-label>

            <input matInput type="password" formControlName="password">

            <mat-icon matSuffix>
                lock
            </mat-icon>

        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

    <button mat-stroked-button mat-dialog-close>

        Cancel

    </button>

    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="createGuestAccount()">

        <mat-icon>
            person_add
        </mat-icon>

        Create Account

    </button>

</mat-dialog-actions>
