<div class="dialog-container">

  <div class="dialog-header">
    <div class="header-icon">₹</div>

    <div>
      <h2 mat-dialog-title>Add Expense</h2>
      <p>Enter the expense details below</p>
    </div>
  </div>

  <mat-dialog-content>
    <form id="expenseForm" class="expense-form" [formGroup]="expenseForm" (ngSubmit)="saveExpense()">

      <mat-form-field appearance="outline">
        <mat-label>Expense Name</mat-label>

        <input matInput type="text" formControlName="expenseName" placeholder="Enter expense name" />

        @if (
        expenseForm.get('expenseName')?.touched &&
        expenseForm.get('expenseName')?.hasError('required')
        ) {
        <mat-error>Expense name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>

        <mat-select formControlName="category">
          @for (category of categories; track category) {
          <mat-option [value]="category">
            {{ category }}
          </mat-option>
          }
        </mat-select>

        @if (
        expenseForm.get('category')?.touched &&
        expenseForm.get('category')?.hasError('required')
        ) {
        <mat-error>Category is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>

        <span matTextPrefix>₹&nbsp;</span>

        <input matInput type="number" min="0.01" step="0.01" formControlName="amount" placeholder="0.00" />

        @if (
        expenseForm.get('amount')?.touched &&
        expenseForm.get('amount')?.hasError('required')
        ) {
        <mat-error>Amount is required</mat-error>
        }

        @if (
        expenseForm.get('amount')?.touched &&
        expenseForm.get('amount')?.hasError('min')
        ) {
        <mat-error>Amount must be greater than zero</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Expense Date</mat-label>

        <input matInput type="date" formControlName="expenseDate" />

        @if (
        expenseForm.get('expenseDate')?.touched &&
        expenseForm.get('expenseDate')?.hasError('required')
        ) {
        <mat-error>Expense date is required</mat-error>
        }
      </mat-form-field>

       <mat-form-field appearance="outline" class="full-width">
        <mat-label>Paid By</mat-label>

        <input
          matInput
          type="text"
          formControlName="paidBy"
          placeholder="Enter payer name"
        />

        @if (
          expenseForm.get('paidBy')?.touched &&
          expenseForm.get('paidBy')?.hasError('required')
        ) {
          <mat-error>Paid by is required</mat-error>
        }
      </mat-form-field>

      <div class="full-width">

        <label>Upload Bill</label>

        <input type="file" accept=".pdf,.jpg,.jpeg,.png" (change)="onBillSelected($event)" />

      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>

        <textarea matInput rows="3" formControlName="description" placeholder="Enter expense description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Bill Path</mat-label>

        <input matInput type="text" formControlName="billPath" placeholder="Optional bill path" />

        <mat-hint>
          Actual bill upload will be added after enabling multipart API
        </mat-hint>
      </mat-form-field>

      @if (saveError) {
      <div class="error-message">
        {{ saveError }}
      </div>
      }

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>

    <button mat-flat-button type="submit" form="expenseForm" class="save-button"
      [disabled]="expenseForm.invalid || isSaving">
      Save Expense
    </button>

  </mat-dialog-actions>

</div>
